<div>
  <div class="row">
    <h1 class="col">Search Result</h1>
    <button
      class="col-1 ms-auto btn btn-outline-danger"
      type="button"
      [routerLink]="['/']"
    >
      Back
    </button>
  </div>
  <div class="row" *ngFor="let review of reviewList">
    <img class="col-3" src="{{ review.image }}" />
    <div class="col-9">
      <h2>
        <a href="{{ review.reviewURL }}">{{ review.title }} </a
        ><span class="badge text-bg-danger">{{ review.rating }}</span>
      </h2>
      <h3>{{ review.headline }}</h3>
      <h5>{{ review.summary }}</h5>
      <p>Comments: {{ review.commentCount }}</p>
      <button class="ms-auto btn btn-outline-primary" type="button">
        Comment
      </button>
    </div>
  </div>
</div>
