<div class="container mt-3">
  <div class="row">
    <h1 class="col">Search Result</h1>
    <button
      class="col-md-1 ms-auto btn btn-danger"
      type="button"
      [routerLink]="['/']"
    >
      Back
    </button>
  </div>

  <div *ngIf="reviewList.length == 0">
    <h4>Your search produced no results</h4>
  </div>
  <!-- <div *ngIf="reviewList">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div> -->
  <div *ngIf="reviewList.length > 0">
    <div class="row" *ngFor="let review of reviewList">
      <img
        class="col-md-3"
        src="{{ review.image }}"
        (error)="onImgError($event)"
      />

      <!-- DATA -->
      <div class="col-md-9">
        <div class="row row-cols-lg-auto">
          <a class="col-12" href="{{ review.reviewURL }}" target="_blank">
            <h2>{{ review.title }}</h2>
          </a>
          <span class="col-12 my-auto badge text-bg-danger">{{ review.rating }}</span>
        </div>

        <h3 class="row">{{ review.headline }}</h3>
        <h5 class="row">{{ review.summary }}</h5>
        <p class="row">Comments: {{ review.commentCount }}</p>
        <button
          class="row ms-auto btn btn-outline-primary"
          type="button"
          [routerLink]="['/comment']"
          [queryParams]="{ title: review.title, searchTerm }"
        >
          Comment
        </button>
      </div>
    </div>
  </div>
</div>
